<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User images</title>
    <style>
        body{
            background-color: black;
        }
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        ul{
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.image.url}}" alt="">
            </li>
        {% endfor %}
    </ul>
</body>
</html>